html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
  }
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  h1 {
    flex: 1 0 auto;
    margin: 0;
  }
}
